In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium.webdriver.chrome.service import Service

In [3]:
drivers = webdriver.Chrome(r"C:\Users\Dell\Videos\chromedriver_win32\chromedriver.exe")

drivers.get('https://www.forbes.com/billionaires/')

In [36]:
Rank1 = []

start=0
end=13

for i in range(start,end):
    
    rank = drivers.find_elements(By.CLASS_NAME, "rank")
    
    for a in rank:
        Rank1.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(10)

In [38]:
len(Rank1)

2613

In [9]:
Name = []

start=0
end=13

for i in range(start,end):
    
    name = drivers.find_elements(By.CLASS_NAME, "personName")
    
    for a in name:
        Name.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(10)

In [25]:
len(Name)

2613

In [15]:
NetWorth = []

start=0
end=13

for i in range(start,end):
    
    networth = drivers.find_elements(By.CLASS_NAME, "netWorth")
    
    for a in networth:
        NetWorth.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(10)

In [27]:
len(NetWorth)

2613

In [18]:
Age = []

start=0
end=13

for i in range(start,end):
    
    age = drivers.find_elements(By.CLASS_NAME, "age")
    
    for a in age:
        Age.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(5)

In [29]:
len(Age)

2613

In [19]:
Country = []

start=0
end=13

for i in range(start,end):
    
    country = drivers.find_elements(By.CLASS_NAME, "countryOfCitizenship")
    
    for a in country:
        Country.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(10)

In [31]:
len(Country)

2613

In [20]:
Source = []

start=0
end=13

for i in range(start,end):
    
    source = drivers.find_elements(By.CLASS_NAME, "source")
    
    for a in source:
        Source.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(5)

In [33]:
len(Source)

2613

In [21]:
Industry = []

start=0
end=13

for i in range(start,end):
    
    industry = drivers.find_elements(By.CLASS_NAME, "category")
    
    for a in industry:
        Industry.append(a.text)
        
    button=drivers.find_element(By.XPATH, "/html/body/div[1]/div[1]/div/div[2]/div[3]/div[2]/div[2]/div[2]/div[27]/div[2]/div[6]/div[1]/button[2]/div")
    
    button.click()
    
    time.sleep(5)

In [35]:
len(Industry)

2613

In [39]:
final =pd.DataFrame()

final['Rank'] = Rank1
final['Name'] = Name

final['NetWorth'] = NetWorth
final['Age'] = Age
final['Country'] = Country
final['Source'] = Source
final['Industry'] = Industry

In [40]:
final

,Rank,Name,NetWorth,Age,Country,Source,Industry
0,RANK,NAME,NET WORTH,AGE,COUNTRY / TERRITORY,SOURCE,INDUSTRY
1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
...,...,...,...,...,...,...,...
2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2578.,Nari Genomal,$1 B,82,Cyprus,apparel,Fashion & Retail
2610,2578.,Ramesh Genomal,$1 B,71,Cyprus,apparel,Fashion & Retail
2611,2578.,Sunder Genomal,$1 B,68,United Kingdom,garments,Fashion & Retail
2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage

In [43]:
final2=final.drop([0], axis=0)

In [44]:
final2

,Rank,Name,NetWorth,Age,Country,Source,Industry
1,1.,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
2,2.,Jeff Bezos,$171 B,58,United States,Amazon,Technology
3,3.,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
4,4.,Bill Gates,$129 B,66,United States,Microsoft,Technology
5,5.,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments
...,...,...,...,...,...,...,...
2608,2578.,Jorge Gallardo Ballart,$1 B,80,Spain,pharmaceuticals,Healthcare
2609,2578.,Nari Genomal,$1 B,82,Cyprus,apparel,Fashion & Retail
2610,2578.,Ramesh Genomal,$1 B,71,Cyprus,apparel,Fashion & Retail
2611,2578.,Sunder Genomal,$1 B,68,United Kingdom,garments,Fashion & Retail
2612,2578.,Horst-Otto Gerberding,$1 B,69,Germany,flavors and fragrances,Food & Beverage